
body
{
	@extend %halloween;
}

%christmas
{
  color: red;
  background-color: green; 
 }

%easter
{
	color: yellow;
	background-color: pink;
}

%halloween
{
	color: orange;
	background-color: black;
}

